%div.row
  %div.col-4
    %legend
      %h3 Sign-In
    %form{name: 'new_session', id: 'new_Session', action: '/session/new', method: 'post'}
      %div.form-group
        %label{for: 'user[email]'} E-Mail
        %input.form-control{type: 'text', name: 'user[email]', placeholder: 'enter email'}
      %div.form-group
        %label{for: 'user[password]'} Password
        %input.form-control{type: 'password', name: 'user[password]', placeholder: 'enter password'}
      %div.form-group
        %input.btn.btn-lg.btn-primary{type: 'submit', value: 'Sign-In', class: 'button'}
