<form class="form pure-form pure-form-stacked" action="/session/new" method="post" name="contact_form">
 	<ul>
 		<li>
      <h2>Sign-in:</h2>
 		</li>
 		<li>
 	    <label for="user[email]">Email:</label>
 	    <input type="text" name="user[email]" />
    </li>
    <li>
 	    <label for="user[password]">Password:</label>
 	    <input type="password" name="user[password]" />
    </li>
    <li>
 	    <button class="submit button pure-button" type="submit">Submit</button>
    </li>
 	</ul>
 </form>
</div>
