= js :literally
= css :literally

%div.row
  %div.col-md-offset-5
    %div{class: 'literally export span-12', id: 'literally', style: 'width:960px;height:480px;border: solid 1px #000;'}
      %canvas{id: 'painting'}

%div.row
  %div.col-md-2.col-md-offset-5
    %form.input
      %div.row
        %div.col-6
          Title:
          %input{type: 'text', default: 'Untitled', id: 'title'}
        %div.col-6
          %input{type: 'submit', :'data-action' => 'export-as-png', value: 'Save', class:'btn btn-lg btn-primary'}


:javascript
  function dataURLtoBlob(dataURL) {
      // Decode the dataURL    
      var binary = atob(dataURL.split(',')[1]);
      // Create 8-bit unsigned array
      var array = [];
      for (var i = 0; i < binary.length; i++) {
        array.push(binary.charCodeAt(i));
      }
      // Return our Blob object
      return new Blob([new Uint8Array(array)], {type: 'image/png'});
    }

- if defined? parent
  :javascript
     var background = new Image();
     background.src = "#{parent.file}";
     bg_shape = new LC.ImageShape(0, 0, background);
     var backgrounds = [bg_shape];

- if !defined? parent
  :javascript
    var backgrounds = [];

:javascript
  $(document).ready(function() {

    $('.literally.export').literallycanvas({
      imageURLPrefix: "/images",
      backgroundShapes: backgrounds,
      onInit: function(lc) {
        $('[data-action=export-as-png]').click(function(e) {
          e.preventDefault();
          var dataURL = lc.canvasForExport().toDataURL("image/png;base64;");
          var file = dataURLtoBlob(dataURL);

          var fd = new FormData();

          fd.append("image", file);
          fd.append("title", $('#title').val());

          console.log(fd);

          $.ajax({
            url: window.location.pathname,
            type: "POST",
            data: fd,
            processData: false,
            contentType: false,
            success: function(data, textStatus) {
              window.location.href = '/';
            }
           });
        });
      }
    });
  });
