%div{class: 'navbar navbar-top'}
  %a{class: 'navbar-brand', href: '/'} 🎨  Le Painting

  %ul{:class => 'nav navbar-nav pull-right'}
    - if logged_in?
      %li
        %a{href: '/post/new'} Create
      %li
        %a{href: '/session/destroy' } Log Out
    - else
      %li
        %a{href: '/session/new'} Sign in
      %li
        %a{href: '/user/new'} Join
