%header{class: 'hero-unit'}
  %div.inner
    %h1 Recent:

  - @posts.each do |post|
    %img{src: post.file, width: '50%', height: '50%'}
    %span="Drawn by #{post.user.name} on #{post.created_at.strftime('%B %d, %Y') rescue 'unknown'}"
