<form class="form pure-form pure-form-stacked" action="/user/new" method="post" name="contact_form">
  <ul>
      <li>
          <h2>Create an account:</h2>
      </li>
      <li>
          <label for="user[name]">Name:</label>
          <input type="text" name="user[name]" placeholder="enter name"/>
      </li>
      <li>
        <label for="user[email]">Email:</label>
        <input type="text" name="user[email]" placeholder="enter password"/>
    </li>
    <li>
        <label for="user[password]">Password:</label>
        <input type="user[password]" name="password" placeholder="enter password"/>
    </li>
    <li>
        <button class="submit button pure-button" type="submit">Submit Form</button>
    </li>
  </ul>
</form>
