%div.row
  %div.col-4
    %legend
      %h3 Create account
    %form{name: 'new_user', id: 'new_user', action: '/user/new', method: 'post'}
      %div.form-group
        %label{for: 'user[name]'} Name:
        %input.form-control{type: 'text', name: 'user[name]', placeholder: 'enter name'}
      %div.form-group
        %label{for: 'user[email]'} E-Mail (for resetting passwords only!)
        %input.form-control{type: 'text', name: 'user[email]', placeholder: 'enter email'}
      %div.form-group
        %label{for: 'user[password]'} Password
        %input.form-control{type: 'password', name: 'user[password]', placeholder: 'enter password'}
      %input.btn.btn-primary.btn-lg{type: 'submit', value: 'Join', class: 'button'}
